extends layout

block content
  h1= error.status
  h2= message
  img(src='/stylesheets/johntr.gif', style='position: fixed; bottom: 0px;')
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  //pre #{error.stack}
