extends layout

block content
    #index-banner.section.no-pad-bot
        .container
            br
            br
            h1.header.center.blue-text Blog Lab
            .row.center
                h5.header.col.s12.light Ceci est un blog Ceci est un blog Ceci est un blog Ceci est un blog
            br
            br
            br
            br
            br
            .col.s12.m8.offset-m2.l6.offset-l3
                .card-panel.grey.lighten-5.z-depth-1
                    .row.valign-wrapper
                        .col.s2
                            img.circle.responsive-img(src='http://nsm05.casimages.com/img/2012/04/05/12040511211439539675269.png', alt='')
                            // notice the "circle" class
                        .col.s10
                            span.black-text
                                | This is a square image. Add the "circle" class to it to make it appear circular.
            br
            br
            br
            .col.s12.m8.offset-m2.l6.offset-l3
                .card-panel.grey.lighten-5.z-depth-1
                    .row.valign-wrapper
                        .col.s2
                            img.circle.responsive-img(src='https://picturepan2.github.io/spectre/demo/img/avatar-4.png', alt='')
                            // notice the "circle" class
                        .col.s10
                            span.black-text
                                | This is a square image. Add the "circle" class to it to make it appear circular.
            br
            br
            br
            .col.s12.m8.offset-m2.l6.offset-l3
                .card-panel.grey.lighten-5.z-depth-1
                    .row.valign-wrapper
                        .col.s2
                            img.circle.responsive-img(src='http://ctreton.fr/img/avatar.png', alt='')
                            // notice the "circle" class
                        .col.s10
                            span.black-text
                                | This is a square image. Add the "circle" class to it to make it appear circular.
            br
            br
            br
            .col.s12.m8.offset-m2.l6.offset-l3
                .card-panel.grey.lighten-5.z-depth-1
                    .row.valign-wrapper
                        .col.s2
                            img.circle.responsive-img(src='http://www.clement-canuto.com/img/avatar.png', alt='')
                            // notice the "circle" class
                        .col.s10
                            span.black-text
                                | This is a square image. Add the "circle" class to it to make it appear circular.
            br
        .section