extends layout

block content
    #index-banner.section.no-pad-bot
        .container
            br
            br
            h1.header.center.blue-text Blog Lab
            .row.center
                h5.header.col.s12.light Bienvenue sur BlagLab / Welcome to bloglab / Willkommen bei bloglab /Bienvenido a bloglab
            .row.center
                a#download-button.btn-large.waves-effect.waves-light.blue(href='/home') Entrer
            br
            br
    .container
        .row
            .col.s12
                .card
                    .card-image
                        img(src='http://socialsavvysarah.com/wp-content/uploads/Blog%20graphic%20from%20Istock.jpg?w=240')
                        span.card-title Card Title
                    .card-content
                        p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum dolor velit, at rutrum turpis pharetra quis. Phasellus congue ullamcorper sem, vitae vestibulum diam. Proin lobortis dignissim leo vel commodo. Mauris et tempus sapien. Aliquam erat volutpat. Morbi aliquet nisl non consequat elementum. Integer id ipsum nec ex viverra laoreet pulvinar ut ex. Vestibulum sollicitudin urna eu eros elementum, commodo placerat magna elementum. Pellentesque id purus urna. Proin mollis quis velit ac rhoncus. Phasellus finibus in leo ultrices laoreet. Vestibulum eget gravida arcu. Donec consequat ex arcu, consequat pellentesque est porttitor sed. Donec interdum, felis nec cursus tincidunt, dolor quam blandit sem, sit amet commodo massa est sed arcu. Maecenas elementum varius nisi, non tristique magna ultricies vel.
                    .card-action
                        a(href='#') This is a link
    .container
        .section
            // Icon Section
            .row
                .col.s12.m4
                    .icon-block
                        h2.center.light-blue-text
                            i.material-icons flash_on
                        h5.center Speeds up development
                        p.light
                            | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
                .col.s12.m4
                    .icon-block
                        h2.center.light-blue-text
                            i.material-icons group
                        h5.center User Experience Focused
                        p.light
                            | By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
                .col.s12.m4
                    .icon-block
                        h2.center.light-blue-text
                            i.material-icons settings
                        h5.center Easy to work with
                        p.light
                            | We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
        br
        br
        .section