extends layout

block content
    #index-banner.section.no-pad-bot
        .container
            br
            br
            h1.header.center.blue-text Blog Lab
            .row.center
                h5.header.col.s12.light Bienvenue sur BlagLab / Welcome to bloglab / Willkommen bei bloglab /Bienvenido a bloglab
            .row.center
                a#download-button.btn-large.waves-effect.waves-light.blue(href='http://materializecss.com/getting-started.html') Entrer
            br
            br
    .container
        ul.errors
            if errors
                each error, i in errors
                    li.card-panel.teal.lighten-2 #{error.msg}

        form(action='', method='post')
            p
                label(for='pseudo') Pseudo :
                input#pseudo(type='text', name='name')
            p
                label(for='pass') Mot de passe :
                input#pass(type='password', name='mdp')
            p
                label(for='email') Mail :
                input#email(type='text', name='email', tabindex='30')
                br
            p
                button.btn.waves-effect.waves-light(type='submit', name='action')
                    | Entrer
                    i.material-icons.right send
        br
        br
        .section